<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" keepVariablesOnReload="true">
  <!--<variable name="logDir" value="\\mbank.pl\zasoby\C-AppClient\Logi"/>-->
  <variable name="logDir" value="C:\logi"/>
  <variable name="nameApp" value="FeederSokML" />
  <variable name="appLogDir" value="${logDir}/${date:format=yyyyMM}/${date:format=yyyyMMdd}/${nameApp}" />
  <variable name="logFileName" value="${date:format=dd}_${processname}_${machinename}" />
  <targets>
    <target name="traceFile"
        type="File"
        fileName="${appLogDir}/T_${logFileName}.log"
        layout="${longdate} ${level} ${message}" />
    <target name="errorFile" 
            type="File" 
            fileName="${appLogDir}/E_${logFileName}.log" 
            layout="${longdate}${newline}${processid}${newline}Poziom: ${level}${newline}Kto: ${windows-identity}${newline}${stacktrace}${newline}Komunikat: ${message}${newline}${onexception:Wyjatek\:${exception:format=tostring,Data}${newline}}============================================================" />
    <target name="splunkFile"
            xsi:type="File"
            fileName="${appLogDir}/${logFileName}_sok_splunk.log"
            encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="longdate" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" EscapeForwardSlash="false" EscapeUnicode="false"/>
        <attribute name="eventId" layout="${event-properties:item=EventId_Id}" />
        <attribute name="exception" layout="${exception:format=@}" encode="false"/>
        <attribute name="logger" layout="${logger}" />
        <!-- UWAGA! Żeby renderer windows-identity działał w .NET Core trzeba doinstalować pakiet NLog.WindowsIdentity-->
        <attribute name="user" layout="${windows-identity}" EscapeForwardSlash="false" EscapeUnicode="false"/> 
        <attribute name="process" layout="${processname}" />
        <attribute name="machine" layout="${machinename}" />
        <attribute name="application" layout="${nameApp}" />
      </layout>
    </target>
  </targets>
  
  <rules>    
    <logger ansibleCategory="mandatory" name="*" minlevel="Trace" writeTo="traceFile" />
    <logger ansibleCategory="mandatory" name="*" minlevel="Error" writeTo="errorFile" />
    <logger ansibleCategory="mandatory" name="*" minlevel="Error" writeTo="splunkFile" />
    <!--<logger name="*" minlevel="Debug" writeTo="traceFile" />-->
  </rules>
</nlog>